@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background 0.5s;
  height: 100vh;
}

#root {
  height: 100%;
}

.bar {
  width: 70%;
  border: 1px solid black;
  height: 20px;
  border-radius: 5%;
}

#demonSkills {
  height: 65%;
  width: 95%;
  margin: auto;
}

#demonSkills #skills {
  height: 100%;
  width: 100%;
}

#demonSkills #skills > div {
  width: 85%;
  height: 8%;
  background-color: rgba(255, 255, 255, 55%);
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

#skills > div div {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  gap: 5%;
}

#skills > div div img {
  height: 100%;
  min-width: 25px;
  width: 100%;
  max-width: 40px;
}

#skills div > div:last-child {
  width: 25%;
  height: 65%;
  background-color: rgba(0, 0, 0, 75%);
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 15px;
  border: 1px solid white;
}